<div id="footer">
    <div class="footer_content">
        <ul class="list-inline">
          <li><a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US" target="_blank"><i class="fa fa-linkedin fa-"></i></a>
          </li>
          <li><a href="https://github.com/Micky0806" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
        <a href="mailto:mikehanot@gmail.com"><i class="fa fa-envelope-o"></i> mikehanot@gmail.com</a>
      </div>
</div>
