<div class=" navbar container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-inline text-right">
      <li><a class="navbar_menu" href="#about">ABOUT ME</a></li>
       <li><a class="navbar_menu" href="#experience">EXPERIENCE</a></li>
      <li><a class="navbar_menu" href="#education">EDUCATION</a></li>
      <li><a class="navbar_menu" href="#skills">SKILLS</a></li>
      </ul>
    </div>
  </div>
</div>
