<div class=" navbar container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-inline text-right">
      <li><a href="id=home"></a>Home</li>
      <li>About me</li>
      <li>Experience</li>
      <li>Skills</li>
      <li>Projects</li>
      </ul>
    </div>
  </div>
</div>
