<div class="banner">
  <div class="banner-content">
    <h1>Mike Hanot</h1>
    <h2>Entrepeneur, Junior Developer</h2>
    <p>If you want something you never had, you have to do something you never done!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-xs-12 col-sm-10">
      <div class="wrapper-gray">
        <div class="text-center">
          <h2 id="about">ABOUT ME</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="card">
             <div class="card-picture">
              <img class="avatar-large" src="images/profile_picture.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="card">
           <div class="card-description">
             <p>Young and ambitious, two of my main assets are my analytical skills and my communication skills.  After having worked 4 years as SME's Manager, I looked for a new challenge. I'm currently working for Bisnode Belgium, European leader in direct and data marketing.</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-xs-12 col-sm-10">
      <div class="wrapper transparent">

        <div class="text-center">
          <h2 id="experience">EXPERIENCE</h2>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="card">
             <div class="card periode">
               <h3>Mars 2015 - April 2016</h3>
             </div>
           </div>
         </div>
         <div class="col-xs-12 col-sm-6">
          <div class="card">
           <div class="card-description">
             <h3>Key Account Manager specialised in the b2b market.</h3>
             <p> Bisnode gave me the opportunity to have contact with the most important and successful companies of Belgium. Every day there is a new challenge for those companies and my role is to help marketing managers, sales directors or financial directors to take the right decision.</p>
           </div>
         </div>
       </div>
     </div>

     <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card">
         <div class="card periode">
           <h3>Februari 2011 - Mai 2015</h3>
         </div>
       </div>
     </div>
     <div class="col-xs-12 col-sm-6">
      <div class="card">
       <div class="card-description">
        <h3>Co Owner, Managing Partner</h3>
        <p> February 2011 to  Mars 2013, Management of the operational team, 15 people. I was   in charge of project from 8.000€ to 350.000 € from the beginning to the delivery of the project.
          April 2013 till Mai 2015, BTOB and BTOC commercial and sales manager.
          Working as manager of an SME, I had multiple management tasks (ea. Buying negotiation, accountancy, day to day management).

          Solar4you is a company which imports, sales and installs Solar panels, Heat-pumps, green isolations and led lights.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>












<div class="container">
  <h2 id="education">Education</h2>
  <h3>Le Wagon</h3>
  <h4>FullStack developer</h4>
  <p>Attended Le Wagon AMSTERDAM (Batch # BATCH_25).

    12-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, Implemented and Shipped to production a clone of AirBnB and a Rails prototype of a startup project of mine.
    Le Wagon is active in Amsterdam since the end of 2015. www.lewagon.com but also, in Brussel, London, Lisbone, Coppenhaege, Paris, etc...</p>

    <h3>Université catholique de Louvain</h3>
    <h4> Master Business Administration and Management, General</h4>

    <p>Master in Sciences of Management
      Graduated in 2012 with distinction</p>
    </div>
  </div>
</div>
</div>

<div class="container">
  <h2 id="skills">Skills</h2>
  <h3>Human languages</h3>
  <p>
    <ul class=list-inline>
      <li>English</li>
      <li>Dutch</li>
      <li>French</li>
    </ul>
  </p>

  <h3>NON Human languages</h3>
  <h3>General Skills</h3>
  <h3>Hobbies</h3>
</div>

